<div class="post-main posts-index">
  <div class="post-container">
    <% @posts.each do |post| %>
      <div class="posts-index-item">
        <div class="post-right">
          <%= link_to(post.content, "/posts/#{post.id}/edit") %>
        </div>
      </div>
    <% end %>
  </div>
</div>
